#page-restaurant {
    .section-1 {
        .section__intro {
            max-width: 1138px;
            margin: 0 auto 90px;
            display: flex;

            .section__intro--left {
                width: (678px/1138px)*100%;

                h2 {
                    @extend %h2;
                }

                p {
                    @extend %p;
                }
            }

            .section__intro--right {
                width: (388px/1138px)*100%;

                img {
                    position: relative;
                    right: -78px;
                }
            }
        }
    }

    .section-2 {
        .section__download {
            padding: 100px 0;
            background: url('../images/bg-section2.jpg');
            background-attachment: fixed;
            background-position: center center;
            text-align: center;

            p {
                font-size: 23px;
                font-family: "UTM Avo Regular";
                color: #61b1da;
                text-transform: uppercase;
                line-height: 1.043;
            }

            h2 {
                font-size: 52px;
                font-family: "UTM HelvetIns";
                color: #ffffff;
                text-transform: uppercase;
                line-height: 1.615;
                position: relative;

                &:before {
                    content: '';
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1252px;
                    height: 4px;
                    background: url(../images/h2-before-download.png) no-repeat;
                    position: absolute;
                }
            }

            .section__download--btn {
                display: inline-block;
                margin-top: 40px;
                position: relative;
                z-index: 1;

                a {
                    font-size: 20px;
                    font-family: "UTM Avo Bold";
                    color: #ffffff;
                    font-weight: bold;
                    text-decoration: underline;
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: center;
                    padding: 15px 30px 22px;
                    background: #61b1da;
                    position: relative;
                }

                &:before {
                    content: '';
                    width: 654px;
                    height: 79px;
                    top: -25px;
                    left: -7px;
                    background: url(../images/before-a-download.png) no-repeat;
                    position: absolute;
                    z-index: -1;
                }
            }
        }
    }

    .section-3 {
        .section__work {
            background: #61b1da;
            padding: 100px 387px 103px 382px;

            h2 {
                font-size: 30px;
                font-family: "UTM Avo Regular";
                color: #ffffff;
                text-transform: uppercase;
                line-height: 1.2;
            }

            .section__work--wrap {
                display: flex;
                position: relative;

                .work--left {
                    display: flex;

                    .work__left--100 {
                        h4 {
                            font-size: 61px;
                            font-family: "UTM Avo Bold";
                            color: #ffef3c;
                            font-weight: bold;
                            text-transform: uppercase;
                            line-height: 1;
                            margin-bottom: 0;
                        }
                    }

                    .work__left--text {
                        width: 47%;
                        border: 8px solid #ffef3c;
                        padding: 25px 228px 25px 25px;
                        margin-left: 30px;
                        margin-top: 15px;

                        p {
                            font-size: 16px;
                            font-family: "UTM Avo Regular";
                            color: #ffffff;
                            line-height: 1.375;
                        }
                    }
                }

                .work--right {
                    position: absolute;
                    right: 0;
                    top: 60px;
                }
            }
        }
    }

    .section-4 {
        .section__custom {
            max-width: 1138px;
            margin: 0 auto;
            padding: 110px 0 90px;

            h2 {
                font-size: 40px;
                font-family: "UTM Avo Bold";
                color: #61b1da;
                font-weight: bold;
                line-height: 1.2;
                text-align: center;
                padding: 0 42px 40px;
                margin-bottom: 40px;
                position: relative;

                &:before {
                    content: '';
                    width: 100%;
                    height: 4px;
                    bottom: 0;
                    left: 0;
                    background: url('../images/before-custome.png')no-repeat;
                    position: absolute;
                }
            }

            p {
                font-size: 16px;
                font-family: "UTM Avo Regular";
                color: #1b1b1b;
                text-transform: uppercase;
                line-height: 1.5;

                &.bg-gray {
                    text-transform: unset;
                    background: #f3f3f3;
                    text-align: center;
                    padding: 25px 50px;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                margin-bottom: 30px;

                li {
                    font-size: 16px;
                    font-family: "UTM Avo Regular";
                    color: #1b1b1b;
                    line-height: 1.75;
                    position: relative;
                    padding-left: 20px;
                    margin-left: 20px;

                    &:before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        background: #61b1da;
                        position: absolute;
                    }
                }
            }
        }
    }

    .section-5 {
        .section__ready {
            background: url('../images/bg-ready.jpg')no-repeat;
            background-attachment: fixed;
            background-position: center center;
            text-align: center;
            padding: 108px 0 108px;

            h4 {
                font-size: 36.5px;
                font-family: "UTM Avo Bold";
                color: #7bd2ff;
                font-weight: bold;
                line-height: 1.562;
            }

            p {
                font-size: 16px;
                font-family: "UTM Avo Regular";
                color: #ffffff;
                line-height: 1.5;
                padding: 0 34%;
            }

            .btn-call {
                display: inline-block;
                margin-top: 60px;
                position: relative;
                z-index: 1;

                &:before {
                    content: '';
                    width: 176px;
                    height: 63px;
                    top: -18px;
                    left: -4px;
                    background: url('../images/before-call.png')no-repeat;
                    position: absolute;
                    z-index: -1;
                }

                a {

                    font-size: 25px;
                    font-family: "UTM Avo Bold";
                    color: #ffffff;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 0.957;
                    background: #7bd2ff;
                    padding: 6px 15px 11px;
                    text-decoration: none;


                }
            }
        }
    }

    .section-6 {
        background: #f3f3f3;

        .section__world {
            max-width: 1138px;
            margin: 0 auto;

            .world__item {
                .world__item--quotes {
                    background: #ffffff;
                    width: 33%;
                    margin: 0 10px;

                    .quotes {
                        p {
                            font-size: 200px;
                            font-family: "UTM Avo Bold";
                            color: #e4e4e4;
                            font-weight: bold;
                            text-transform: uppercase;
                            line-height: 0.12;
                            text-align: center;
                        }
                    }

                    .content {
                        p {
                            font-size: 16px;
                            font-family: "UTM Avo Regular";
                            color: #2b2b2b;
                            line-height: 1.5;
                            text-align: center;
                        }
                    }

                    .author {
                        h4 {
                            font-size: 30px;
                            font-family: "UTM Avo Bold";
                            color: #2b2b2b;
                            font-weight: bold;
                            line-height: 1.2;
                        }
                    }
                }
            }
        }
    }
}